Django==2.2.27
PyRSS2Gen==1.0.0
Twisted==20.3.0
altgraph==0.9
bdist-mpkg==0.4.4
dj-database-url==0.2.1
macholib==1.4.2
modulegraph==0.9.1
psycopg2==2.4.6
py2app==0.6.3
pyopenssl>=17.5.0
python-dateutil==1.5
virtualenv==1.8.4
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
